@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'FiraCode Nerd Font';
  font-size: 18px;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 16px;
}

#workspaces button {
  all: initial;
  padding: 0 8px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 24px;
  margin: 0 15px;
}

#tray {
  margin-right: 32px;
}

#bluetooth {
  margin-right: 34px;
}

#network {
  margin-right: 26px;
}

#custom-expand-icon {
  margin-right: 36px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 14px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 15px;
  margin-left: 15px;
  font-size: 16px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
